
$primary   : #053c54;
$secondary : #3a7e8a;
$accent    : #f47a60;

$dark      : #7a8891;
$dark-page : #e1e8eb;

$positive  : #61a48a;
$negative  : #b23a48;
$info      : #67c8d1;
$warning   : #e2b441;
